@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
}

body {
  /*WOW THIS IS A COMMENT*/ 
  line-height: 1.6;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color:#EEE2DC;
}

.thing {
  color:cornflowerblue; 
}

a {
  color: blue;
}

a[href^="#"] {
  background-color: pink;
}

#ATTENDANCE {
  background-color: darkseagreen;
}

* {
  color: grey;
}

summary:hover {
  background-color: indianred;
}

hr {
  text-align: center;
  border-style: none;
  border-top-style: dotted;
  color: #BAB2B5;
  border-width: 8px;
  width: 6%;
}

h1, h2 {
  text-align: center;
  color: #8d0999; 
}

h3 {
  color: #123C69;
  text-align: center;
  margin: auto;
}

p {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ol p {
  color:gold; 
}

ul>li {
  color:goldenrod; 
}

ul~ol {
  color:lightblue; 
}

ul+ol {
  color:lightsalmon; 
}

h1.section {
  color:linen; 
}

ul {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

ol {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

form {
  border-style: solid;
  border-color: burlywood;
  border-width: 2px;
  border-radius: 1px;
}
